<!DOCTYPE html>
<html lang="fr-be">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Exercice ASP MVC : Nous contacter</title>
</head>
<body>
    <header>
        <h1>ASP MVC</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Home/Contact">Nous contacter</a></li>
                <li><a href="/Auth/Register">S'enregistrer</a></li>
                <li><a href="/Auth/Login">Se connecter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Interface 3 Bruxelles</h1>
            <p><strong>Lenoir Nicole</strong></p>
            <address>Rue Gaucheret 88,<br />1030 Bruxelles</address>
            <a href="tel:+3222191510">02 219 15 10</a>
            <a href="mailto:info@interface3.be">info@interface3.be</a>
        </section>
    </main>
    <footer>
        <p>Samuel Legrain - Interface 3 Bruxelles</p>
    </footer>
</body>
</html>
